<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />
    <title>
        {% block title %}
        {% endblock%}
    </title>
</head>

<body>
    <div class="container">


        <main>
            {% block body %}
            {% endblock%}
        </main>

        <div id="sidebar">
            <div class="sidebar__title">
                <div class="sidebar__img">
                    <!-- <img src="assets/logo.jpg" alt="logo" width="200px" height="100px"> -->
                    <!-- <h1>Puddle</h1> -->
                </div>
            </div>
            <!-- <div class="sidebar__menu">
          <div class="sidebar__link active_menu_link">
            <i class="fa fa-home"></i>
            <a href="#">Dashboard</a>
          </div>  -->
            <br>
            <div class="sidebar__link">
                <h2> <a href="#"><i class="bi bi-graph-up"></i></a></h2>
                <!-- <a href="#">Graph</a> -->
            </div>
            <div class="sidebar__link">
                <h2><a href="#"> <i class="bi bi-people-fill"></i></a></h2>
                <!-- <a href="#">Profile</a> -->
            </div>
            <div class="sidebar__link">
                <h2><a href="#"> <i class="bi bi-gear"></i></a></h2>
                <!-- <a href="#">Setting</a> -->
            </div>
            <div class="sidebar__link">
                <h2> <a href="#"> <i class="fa fa-handshake-o"></i></a> </h2>
                <!-- <a href="#">Contact</a> -->
            </div>
            <div class="sidebar__logout">
                <h2><a href="/logout"><i class="fa fa-power-off"></i></a></h2>
                <!-- <a href="#">Log out</a> -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- <script src="script.js"></script> -->
</body>

</html>